1.  What are data structures, and why are they important?

In [ ]:
=> Data structure is the way of organize and store data so that it can be accessed manipulate efficiently. dta structures are string, list, sets, tuples, dictionary, array.

2.  Explain the difference between mutable and immutable data types with examples.

=> In mutable data type we can change the data but in immutable data type we can not chnge the data. Mutable Data type are List, Sets, Dictionary where as immutable data types are string, tuples.

3. What are the main differences between lists and tuples in Python?

=> In list we store the data in [] bracket where as in tuple we can store data in () bracket. List is mutable and tuple is immutable

In [ ]:
4.  Describe how dictionaries store data

=> Dictionaries stores the data in the form of key values format. This key value data stored in {} bracket.  my_dict={"key" : "value"}

5. Why might you use a set instead of a list in Python?

=>Set automatically removes duplicate elements. If you need to store only unique items, a set is ideal. List allows duplicates, so you would need additional logic to filter out duplicates.

6. What is a string in Python, and how is it different from a list?

=> String is a sequence of character represent and manipulate data. String is immutable where as list is mutable data type.:

7. How do tuples ensure data integrity in Python?

 =>Once a tuple is created, its elements cannot be modified, added, or removed. This ensures that the data stored in a tuple remains consistent and unchanged throughout the program, reducing the risk of accidental modifications.

8.  What is a hash table, and how does it relate to dictionaries in Python

=> A hash table is a data structure that maps keys to values using a hash function. In dictinary data store in the key value format just like hash table.

9.  Can lists contain different data types in Python?

=> Yes, in Python, lists can contain elements of different data types. Python lists are highly flexible and can store a mix of integers, floats, strings, booleans, other lists, dictionaries.

10. Explain why strings are immutable in Python.

=> In Python, strings are immutable, meaning once a string is created, it cannot be changed. Python uses a technique called string interning, where identical strings are stored only once in memory. This reduces memory usage and speeds up string operations. If strings were mutable, modifying one would inadvertently affect all references to that string, breaking this optimization.

11.  What advantages do dictionaries offer over lists for certain tasks?

=>Dictionaries use a hash table for key-value storage, enabling O(1) average time complexity for lookups by key.
Lists, on the other hand, require O(n) time for searching an element since they rely on sequential access.

12. Describe a scenario where using a tuple would be preferable over a list.

=>  A tuple is immutable, meaning its contents cannot be changed after creation, while a list is mutable and allows modifications. Here’s a scenario where using a tuple is preferable in Adhar card number. In this case, the coordinates are fixed and should not be modified. Using a tuple ensures data integrity by preventing accidental changes. If you attempt to modify the tuple, Python will raise a TypeError.

13.  How do sets handle duplicate values in Python?

=> In Python, sets are a built-in data structure that automatically handle duplicate values by eliminating them. Sets are unordered collections of unique elements, meaning that if you try to add duplicate values to a set, only one instance of each value will be retained.

14. How does the “in” keyword work differently for lists and dictionaries?

=> The in keyword in Python is used to check for membership, but its behavior differs slightly depending on whether you're working with lists or dictionaries:
 For List in keyword checks if a specific value exists in the list.
It performs a linear search, meaning it checks each element one by one until it finds a match or reaches the end of the list. For Dictionaries in keyword checks if a specific key exists in the dictionary (not the value).
It is highly efficient because dictionaries use a hash table for key lookups.

15. Can you modify the elements of a tuple? Explain why or why not.

=> Tuples in Python are immutable, meaning their elements cannot be changed directly. However, you can create a new tuple with the desired changes.

16. What is a nested dictionary, and give an example of its use case?

=> A nested dictionary in Python is a dictionary within another dictionary. It allows you to store and organize data hierarchically, making it useful for representing complex structures. Example Use Case: Student Grades Management.

17. Describe the time complexity of accessing elements in a dictionary.

=> Accessing elements in a dictionary in Python has an average time complexity of O(1) (constant time). This is because Python dictionaries are implemented as hash tables, which allow for efficient lookups by computing a hash value for the key and directly accessing the corresponding value.

18.  In what situations are lists preferred over dictionaries?

=> Lists: Use lists when the order of elements is important, when you need to access elements using numerical indices, or when duplicate values are allowed. Lists are ideal for scenarios where you need to maintain a sequence of elements and perform operations like sorting or slicing.

Dictionaries: Use dictionaries when you need to store data in key-value pairs, perform fast lookups, or ensure that keys are unique. Dictionaries are suitable for scenarios where you need to map unique keys to values, such as storing user information or configuration settings.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

=> Dictionaries in Python are often referred to as unordered collections because they do not guarantee any specific order of their elements based on insertion or key values.  Unlike lists or tuples, dictionaries do not allow access by index. Instead, you retrieve values using their associated keys

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

** Practical Questions**

1.  Write a code to create a string with your name and print it

In [2]:
Name= "Aishwarya"
print("My name is", Name)

My name is Aishwarya

2.  Write a code to find the length of the string "Hello World"

In [3]:
Code="Hello World"
len(Code)

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [5]:
x= "Python Programming"
x[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase

In [6]:
x="hello"
x.swapcase()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
x="I like apple"
x.replace("apple", "orange")

'I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
a=[1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [12]:
a=[1, 2, 3, 4]
a.append(10)
a

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [13]:
a=[1,2,3,4,5]
a.remove(3)
a

[1, 2, 4, 5]

9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [16]:
x=['a', 'b', 'c', 'd']
x[1]

'b'

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [18]:
x=[10, 20, 30, 40, 50]
x.reverse()
x

[50, 40, 30, 20, 10]

11.  Write a code to create a tuple with the elements 100, 200, 300 and print it

In [19]:
x=(100,200,300)
print(x)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [22]:
x=('red', 'green', 'blue', 'yellow')
x[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [23]:
x= (10, 20, 5, 15)
min(x)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [24]:
Animals=('dog', 'cat', 'rabbit')
Animals.index('cat')

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [25]:
fruits=("apple", "orange", "banana")
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [26]:
set={'a','b','c'}
print(set)

{'c', 'a', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [27]:
x= {1, 2, 3, 4, 5}
x.clear()
x

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [28]:
x={1, 2, 3, 4}
x.remove(4)
x

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [29]:
s1={1, 2, 3}
s2={3, 4, 5}
s1.union(s2)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [30]:
s1={1, 2, 3}
s2={2, 3, 4}
s1.intersection(s2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [31]:
x={"name": "Aishwarya", "age": "32", "city":"Pune",}
print(x)

{'name': 'Aishwarya', 'age': '32', 'city': 'Pune'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}

In [34]:
dictionary= {'name': 'John', 'age': 25}
dictionary["country"]="USA"
print(dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [35]:
x= {'name': 'Alice', 'age': 30}
x["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [36]:
x= {'name': 'Bob', 'age': 22, 'city': 'New York'}
x.pop('age')
x

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [45]:
x = {'name': 'Alice', 'city': 'Paris'}

if 'city' in x:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [46]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {
    'name': 'Aishwarya',
    'age': 32,
    'city': 'Pune'
}

# Printing the data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Aishwarya', 'age': 32, 'city': 'Pune'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [48]:
x= [27, 6, 59, 93, 37]
x.sort()
x

[6, 27, 37, 59, 93]

In [ ]:
28. Write a code to create a list with strings and print the element at the third index

In [49]:
x= ["apple", "banana", "cherry", "date", "elderberry"]

# Prin_ting the element at the third index
print(x[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [53]:
s1={"name":"Aishwarya", "Age":"32"}
s2={"city":"pune"}
combine_dictionary={**s1, **s2}
print("combined dictionary:", combine_dictionary)

combined dictionary: {'name': 'Aishwarya', 'Age': '32', 'city': 'pune'}

30.  Write a code to convert a list of strings into a set

In [73]:
x=["ornage", "mango", "apple", "cherry"]
string_set=set(x)
print(string_set)

TypeError: 'set' object is not callable